{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<div class="alert alert-success" role="alert">
    Todos los post publicados en: <strong>{{month}} de {{year}} </strong>
</div>


{% for post in posts %}
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="350" height="250" src={{ post.image.url }} alt="">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">{{post.category}} </strong>
                <h3 class="mb-0">{{ post.title}}</h3>
                <div class="mb-1 text-body-secondary">{{post.created|date:"d M y"}}</div>
                <p class="card-text mb-auto">{{post.excerpt}}</p>
                <a href={% url "post" post.id %} class="icon-link gap-1 icon-link-hover stretched-link">
                    Seguir leyendo
                </a>                            
            </div>
        </div>
    </div>
{% empty %}
    <div class="alert alert-danger" role="alert">
        <strong> No existe post publicados en esa fecha</strong>
    </div>
{% endfor %}


    <hr>
    {% if request.path != '/' %}
    <div class="my-3">
        <a class="btn btn-success rounded-pill"href={% url "home" %}>Volver al inicio</a>
    </div>
    {% endif %}
{% endblock content %}